version: "3.8"

services:
  db:
    image: postgres:latest
    restart: always
    env_file: .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - db_data:/var/lib/postgresql/data

  app:
    build:
      context: .
      dockerfile: ./docker/Dockerfile
    restart: always
    env_file: .env
    environment:
      DB_HOST: db
    ports:
      - "8080:${SERVER_PORT}"
    depends_on:
      - db

  adminer:
    image: adminer:latest
    restart: always
    ports:
      - 8081:8080
    depends_on:
      - db

volumes:
  db_data:
